body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #282c34;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Rock Salt', sans-serif;
}

header h1 {
    font-family: 'Rock Salt', sans-serif;
    /* Additional styling as needed */
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #282c34;
    color: white;
    padding: 10px;
    text-align: center;
}

footer a {
    color: #0099cc; /* Color for links */
    text-decoration: none; /* Removes the underline */
}

.fab {
    font-size: 20px; /* Adjust the size */
    color: #0099cc; /* Adjust the color */
    margin-right: 10px; /* Add some space between the icons */
}

footer a:hover .fab {
    color: #006699; /* Change color on hover */
}

#home-link {
    text-decoration: none;
    color: white; /* Or whatever color you're using for the header text */
}

#image-section {
    text-align: center;
}

#home-main-img {
    width: 100%; /* This will make the image full-width */
    height: auto; /* This maintains the aspect ratio */
    display: block;
    margin: 0 auto; /* Centers the image horizontally */
    max-width: 50%;
}
