body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #282c34;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Rock Salt', cursive;
}

header h1 {
    font-family: 'Rock Salt', cursive;
    /* Additional styling as needed */
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #282c34;
    color: white;
    padding: 10px;
    text-align: center;
}

footer a {
    color: white; /* Color for links */
    text-decoration: none; /* Removes the underline */
}

#home-link {
    text-decoration: none;
    color: white; /* Or whatever color you're using for the header text */
}

#image-section {
    text-align: center;
}

#home-main-img {
    width: 100%; /* This will make the image full-width */
    height: auto; /* This maintains the aspect ratio */
    display: block;
    margin: 0 auto; /* Centers the image horizontally */
    max-width: 50%;
}
