body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #282c34;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #282c34;
    color: white;
    padding: 10px;
    text-align: center;
}

footer a {
    color: #0099cc; /* Color for links */
    text-decoration: none; /* Removes the underline */
}

footer a:hover {
    text-decoration: underline; /* Adds underline when hovering */
}

#home-link {
    text-decoration: none;
    color: white; /* Or whatever color you're using for the header text */
}

#image-section {
    text-align: center;
}

#home-main-image {
    width: 100%; /* This will make the image full-width */
    height: auto; /* This maintains the aspect ratio */
    display: block;
    margin: 0 auto; /* Centers the image horizontally */
}
@media (max-width: 600px) {
    #band-image {
        width: 80%; /* Reduce the width to 80% for mobile devices */
        /* You can adjust this percentage based on how wide you want the image to be */
    }
}